@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;0,700;1,300&family=Nunito:wght@700&display=swap');


:root{
    --orange:#2c4456;
    --black:#51bae7;
    --light-color:#666;
    --box-shadow:0 .5 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:.3rem solid var(--black);
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior:  smooth;
    scroll-padding-top:7rem;
}
body{
    background:#eee;
    
}

section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
background:#8c62b6;
color: #fff;
display: inline-block;
padding: .5rem 3rem;
clip-path: polygon(100% 0, 93% 50%,100% 99%, 0% 100%,7% 50%,0% 0%);
}

.btn {
    margin-top:1rem ;
    display: inline-block;
    padding: .5rem .5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}
 .btn:hover{
    background: #8c62b6;
    color: rgb(255, 249, 249);
    
}
.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:  rgb(120, 143, 151);
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}
.header .logo i{
    color: #66FFFF;
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #66FFFF
}
.header .navbar a:hover{
    color: #146580;
}



.header .icon div{
    background: #eee;
    color : var(--black);
    font-size: 2rem;
    display: contents;
}
.header .icon div i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color : var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}
.header .icon div i:hover{
    background: #9966CC;
    clear: #fff;
}




.header .login-F{
   
    position: absolute;
    top: 110%; 
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.header .login-F.active{
     right:2rem;
     transition: .4s linear;
}
.header .login-F h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-F .box{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius:40px;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform:none;
}

.header .login-F p{
    font-size: 1.2rem;
    padding: .5rem 0;
    color: var(--light-color);
}
.header .login-F p a{
    color:#9966CC;
    text-decoration: underline;
}


.Home{
    display: flex;
    align-items:center ;
    justify-content: center;
    background: url(img/home.png) no-repeat;
    background-position: center;
    background-size:cover ;
    padding-top: 25rem;
    padding-bottom: 20rem;
}
.Home .content{
    text-align: center;
    width: 60rem;
}
.Home .content h3{
    color: var(--black);
    font-size: 3rem;
}
.home .content h3{
    color: rgb(255, 255, 255);
    font-size: 5rem;
}
.Home .content h3 samp{
    color: rgb(74, 82, 82);
}
.Home .content  p{
    color: rgb(227, 210, 239);
    font-size: 2.5rem;
}



 .Style .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.Style .box-container .box{
    padding: 1.5rem ;
    padding-left: 1px;
    padding-right: 1px;
    box-sizing: border-box;
    background: rgb(161, 192, 223);
    border-radius:10px;
    outline-offset: -1rem;
    text-align: center;
}

.Style .box-container .box .img{
    display: block;
    margin: auto;
    border-radius: 9px;
    width:70%;
    height: 70%;
}

 .Style .box-container .box h3{
    font-size: 20px;
  
    color: #1f4552;
    text-align: center;
}


 body{
    position: relative;
    height: 70%;
 }
 
.products .products-sli{
    padding: 1rem;
    
}
.products .products-sli:first-child{
    padding: 2rem;
    
}
.products .products-sli .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.products .products-sli .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover)
}
.products .products-sli .box img{
   height: 30rem;
}
.products h3{
    font-size: 2.5rem;
  
}
.products .products-sli .box h3{
    font-size: 1.7rem;
    
    color: var(--black);
}
.products .products-sli .box .price{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: .5rem 0;
}



.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}



.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}

































/*ui*/

@media (max-width:991px){
    html{
        font-size: 55%; 
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px){

    
    .header .search-F{
        width: 90%;
    }
.header .navbar{
    
  position: absolute; 
  top:110%;
  right:-110%;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: -5rem;
  background: #fff
}
.header .navbar .active{
   right: 2rem;
   transition: .4s linear;
}

.header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
}
}

@media (max-width:450px){


    html{
        font-size: 45%;
        
    }
    .heading{
        font-size: 2.5rem;
    }
}